{{#if postLength}}
<div class="heading" style="margin-top: 50px;">
     Hey {{user.name}}! {{postLength}} have blogs uploaded.
</div>

<div class="row">
     {{#each posts}}
          <div class="col s12 l3" style="margin-top: 50px;">
               <div class="white post hoverable">
                    <a href="/blog/{{this._id}}" class="waves-effect waves-light">
                    <img src="{{this.postImage}}" class="responsive-img  waves-effect waves-light" alt="">
                    </a>
                         <div class="blog-title truncate" style="margin-top: 10px;">
                              <a href="/blog/{{this._id}}">
                                   {{this.postTitle}}
                              </a>
                         </div>
                    <div class="short-title" style="margin-top: 10px;">
                         {{this.shortDescription}}
                    </div>
                    <div style="text-transform: capitalize; margin-top: 10px; margin-bottom: 20px;">
                         Blog category - {{this.category.title}}
                    </div>
                    <div class="divider"></div>
                    <div style="margin-top: 10px;">
                         <div class="row" style="margin-bottom: 0px!important;">
                              <div class="col s6 center">
                                   <a href="/admin/edit-blog-post/{{this._id}}" class="btn green">
                                        <i class="material-icons">edit</i>
                                   </a>
                              </div>
                              <div class="col s6 center">
                                   <form action="/admin/delete-blog/{{this._id}}" method="POST">
                                        <button type="submit" class="btn red">
                                             <i class="material-icons">delete</i>
                                        </button>
                                   </form>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     {{/each}}
          <div class="col s12 l3" style="padding: 10px;border: 2px dashed grey; margin-top: 50px; height: 400px;">
                    <a href="/admin/create-blog">
               <div style="
                    margin-top: 100px;
                    text-align: center;
               ">
                    <h6 class="black-text">Click here to</h6>
                    <h3 class="grey-text">Create new blog</h3>
               </div>
                    </a>
          </div>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{{#if messages}}
<script type="text/javascript">
    swal("Good job!", "{{messages}}", "success",{
          button: 'CLOSE'
     });
</script>
{{/if}}

{{else}}
<div style="margin-top: 50px;" class="heading">
     NO blogs is uploaded by you...
     <br><br>
     <a href="/admin/create-blog" class="btn black">
          Create new blog
     </a>
</div>
{{/if}}